<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common::head"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/common::navigation"></header>

    <section class="road">
        <div>
            <h2>Routes for car</h2>
            <p>Here you can find all routes which are appropriate for cars. Click the button below and find new journeys.</p>
            <a href="/" class="btn">Learn More</a>
        </div>
        <img class="card-img w-90 ml-10" src="/images/car-road.png" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->
<footer th:replace="fragments/common::footer"></footer>

</html>